{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p class="lead">Welcome to LabLingo!</p>
<p>Welcome to LabLingo, your personal guide to decoding your medical journey. LabLingo isn't just another tool; it's your trusted companion in unraveling the complexities of your health data.
</p>
<p>Navigating through your medical history can feel like deciphering a cryptic language. Enter LabLingo—a sophisticated medical Large Language Model designed to bridge the gap between your testing history and your comprehension.
</p>
<p>Our cutting-edge technology empowers users to explore and understand their health data effortlessly. Whether it's decoding lab results, interpreting trends, or making sense of diagnostic reports, LabLingo is your dedicated partner, simplifying the intricacies of your health journey.
</p>
<p>With LabLingo, complexities become clear narratives. Through intuitive conversations, insightful explanations, and user-friendly interfaces, we transform perplexing medical jargon into comprehensible insights. Empowering you with the knowledge to make informed decisions about your health.
</p>
<p>LabLingo doesn't just provide information; it fosters a supportive environment where your health takes center stage. Your data privacy and confidentiality are paramount—LabLingo operates with stringent security measures to ensure your information remains protected at all times.
</p>
<p>Join the LabLingo community and embark on a journey toward better health understanding, where your medical history becomes a story waiting to be understood and empowered by you.
</p>
  <ul>
  {% for item in data %}
      <li>{{item}}</li>
  {% endfor %}
  </ul>


{% endblock %}
